.dropdown-toggle, .dropdown-item, .mousePointer{
    cursor: pointer;
}
img{
    max-height: 50px;
    border: 1px solid rgb(255, 255, 255);   
    height: 40px;
    width: 40px; 
    margin-right: 10px;
    border-radius: 50%;
}